.input-field {
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: #222;
    color: white;
    font-size: 14px;
    margin-top: 10px;
}

.input-field::placeholder {
    color: #aaa;
}

.login-btn {
    background-color: #1e4032;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #1e4032;
}

#resultadoEmpleado {
    background-color: #111;
    padding: 20px;
    border-radius: 16px;
    color: white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    max-width: 1000px;
    margin: auto;
}

button.exportar-pdf {
    margin-top: 20px;
    background-color: #1e4032;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button.exportar-pdf:hover {
    background-color: #1e4032;
}

.empleado-banner {
    background-color: #1e4032;
    border-radius: 20px;
    text-align: center;
    padding: 24px 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    /* 👈 esta línea nueva */
}

.empleado-banner h1 {
    font-size: 24px;
    margin: 10px 0;
    color: #ffffff;
    font-weight: 700;
}